/* defining color */
:root{
    --white: white;
    --light-gray: #f0f0f0;
    --dark-gray: #6c6c6c;
    --black:  #1e1e1e;
    --yellow: #f99c14;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    display: grid;
    grid-template-areas: 
      "display display display display"
      "clear negative percent divide"
      "seven eight nine multiply"
      "four five six subtract"
      "one two three add"
      "zero zero decimal equals";
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    padding: 50px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--black);
}

.light-gray{
    background-color: var(--dark-gray);
    color: rgb(95, 184, 95);
}

.dark-gray{
    background-color: var(--dark-gray);
    color: white;
}

.yellow{
    background-color: var(--dark-gray);
    color: rgb(95, 184, 95);
}

button{
    height: 100px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    width: 100%;
    transition: transform 0.1s ease-in-out; 
}

button:active{
    transform: scale(0.95);
}



#answer{
    height: 48px;
    font-size: 48px;
}

#expression{
    height: 40px;
    font-size: 40px;
    color: var(--dark-gray);
}


#clear{
    grid-area: clear;
}
#negative{
    grid-area: negative;
}
#percent{
    grid-area: percent;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#subtract{
    grid-area: subtract;
}
#add{
    grid-area: add;
}
#equals{
    grid-area: equals;
}
#decimal{
    grid-area: decimal;
}
#display{
    grid-area: display;
}


#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}


#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}


#zero{
    grid-area: zero;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}


